*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #000;
  --color-secondary: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Typography */
h1 {
  font-weight: bold;
}

/* Button */
.btn {
  border: 3px solid var(--color-primary);
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
}

.btn--light {
  color: #000;
  transition: background 0.15s, color 0.15s;
}

.btn--light:hover {
  color: var(--color-secondary);
  background: var(--color-primary);
}

.btn--dark {
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: background 0.2s, border 0.15s;
}

.btn--dark:hover {
  border: 3px solid var(--color-primary);
  background: var(--color-primary);
}

/* Card */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__photo img {
  width: 100%;
  object-fit: cover;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__body .heading {
  font-size: 2.4rem;
}

.card__body .btn {
  width: 60%;
  margin-bottom: 3rem;
}

/* Category card */
.category .container {
  padding: 3rem;
  background: rgb(52, 52, 52);
  color: var(--color-secondary);
}

.category .btn {
  margin-bottom: 0;
}

/* Project Card */

.project .heading {
  margin-bottom: 0;
  font-size: 3rem;
}

.project address {
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.project .description {
  font-size: 1.4rem;
  width: 75%;
}

/* Blocks */

.block {
  padding: 6rem 2rem;
}

.block--dark {
  background: var(--color-primary);
  color: var(--color-secondary);
}
