<div class="media-object grid">
  <div class="media__photo">
    <img src="/images/pjt2.jpg" alt="" />
  </div>
  <div class="media__data">
    <table class="data-table">
      <tr>
        <td class="name">Client Name:</td>
        <td class="detail">SAKTHI GANESH . U</td>
      </tr>
      <tr>
        <td class="name">Site Location:</td>
        <td class="detail">KODIMANGALAM - MADURAI.</td>
      </tr>
      <tr>
        <td class="name">Build-Up Area:</td>
        <td class="detail">1800 SQ.FT</td>
      </tr>
      <tr>
        <td class="name">Building Specifitions:</td>
        <td class="detail">3BHK RESIDENTIAL BUILDING</td>
      </tr>
      <tr>
        <td class="name">Building Type:</td>
        <td class="detail">CONTEMPORARY STYLE</td>
      </tr>
      <tr>
        <td class="name">Project Status:</td>
        <td class="detail">Project Completed</td>
      </tr>
      <tr>
        <td class="name">Year:</td>
        <td class="detail">2019 - 2020</td>
      </tr>
    </table>
  </div>
</div>
