<div styles="width: 30%; padding: 4rem">
  <article class="ProjectCategory">
    <div class="Card">
      <header class="Card__Header">
        <!-- project Card Photo -->
        <a class="project-card-link" href="#">
          <div class="Card__Photo">
            <img src="images/1AA.jpg" alt="A house" />
          </div>
        </a>
      </header>
      <div class="Card__Body">
        <h1 class="Category__Heading">Architecture</h1>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
  </article>
</div>
