<div styles="width: 30%; padding: 4rem">
  <article class="ProjectCard">
    <!-- project Card Photo -->
    <div class="ProjectCard__PhotoWrapper">
      <div class="ProjectCard__PhotoHeader"></div>
      <div class="ProjectCard__PhotoBody">
        <a class="project-card-link" href="#">
          <div class="ProjectCard__photo">
            <img src="images/1AA.jpg" alt="A house" />
          </div>
        </a>
      </div>
    </div>
    <!-- project Data Area -->
    <div class="ProjectCard__DataWrapper">
      <div class="ProjectCard__DataArea ProjectCard__client">
        <span>Mr. Client</span>
      </div>
      <div class="ProjectCard__DataArea ProjectCard__location">
        <address>Cudalore, Tamil Nadu</address>
      </div>
      <div class="ProjectCard__DataArea ProjectCard__detail">
        1500 Sq.ft | 3BHK Residential Building | Contemporery style
      </div>
    </div>
  </article>
</div>
