<div class="block block--dark category">
  <header class="block__header">
    <h2 class="block__heading">Projects</h2>
  </header>
  <div class="container grid grid--1x3">
    <div class="card category">
      <div class="container">
        <div class="card__photo">
          <a href="#">
            <img src="images/projectCard_img_plans.jpg" alt="" />
          </a>
        </div>
        <div class="card__body">
          <h3 class="heading">Heading</h3>
          <a href="#" class="btn btn--dark">Projects</a>
        </div>
      </div>
    </div>
    <div class="card category">
      <div class="container">
        <div class="card__photo">
          <a href="#">
            <img src="images/projectCard_img_plans.jpg" alt="" />
          </a>
        </div>
        <div class="card__body">
          <h3 class="heading">Heading</h3>
          <a href="#" class="btn btn--dark">Projects</a>
        </div>
      </div>
    </div>
    <div class="card category">
      <div class="container">
        <div class="card__photo">
          <a href="#">
            <img src="images/projectCard_img_plans.jpg" alt="" />
          </a>
        </div>
        <div class="card__body">
          <h3 class="heading">Heading</h3>
          <a href="#" class="btn btn--dark">Projects</a>
        </div>
      </div>
    </div>
    <div class="card category">
      <div class="container">
        <div class="card__photo">
          <a href="#">
            <img src="images/projectCard_img_plans.jpg" alt="" />
          </a>
        </div>
        <div class="card__body">
          <h3 class="heading">Heading</h3>
          <a href="#" class="btn btn--dark">Projects</a>
        </div>
      </div>
    </div>
  </div>
</div>
