<div class="block project">
  <header class="block__header">
    <h2 class="block__heading">Projects</h2>
  </header>
  <div class="container grid grid--1x2">
    <div class="card project">
      <div class="card__photo">
        <a href="#">
          <img src="images/1AA.jpg" alt="" />
        </a>
      </div>
      <div class="card__body">
        <h3 class="heading">Project Title</h3>
        <address>Cuddalore, Tamil Nadu</address>
        <p class="description">
          3000 Sq.ft | 3BHK RESIDENTIAL BUILDING | CONTEMPORARY STYLE
        </p>
        <a href="#" class="btn btn--light">Project Detail</a>
      </div>
    </div>
    <div class="card project">
      <div class="card__photo">
        <a href="#">
          <img src="images/pjt2.jpg" alt="" />
        </a>
      </div>
      <div class="card__body">
        <h3 class="heading">Project Title</h3>
        <address>Cuddalore, Tamil Nadu</address>
        <p class="description">
          3000 Sq.ft | 3BHK RESIDENTIAL BUILDING | CONTEMPORARY STYLE
        </p>
        <a href="#" class="btn btn--light">Project Detail</a>
      </div>
    </div>
    <div class="card project">
      <div class="card__photo">
        <a href="#">
          <img src="images/projectCard_img_plans.jpg" alt="" />
        </a>
      </div>
      <div class="card__body">
        <h3 class="heading">Project Title</h3>
        <address>Cuddalore, Tamil Nadu</address>
        <p class="description">
          3000 Sq.ft | 3BHK RESIDENTIAL BUILDING | CONTEMPORARY STYLE
        </p>
        <a href="#" class="btn btn--light">Project Detail</a>
      </div>
    </div>
  </div>
</div>
