.jumbotron {
    background-image: url('/htdocs/assets/images/heroimage.jpeg');
    background-size: cover;
    height: 600px;
    min-height: 100vh;
}

.jumbotron img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

