$baseColor: #003366;
$accentColor: #014c8c;
$siteBgColor: #f7f7f7;
$green: #5cb85c;
$yellow: #f0ad4e;
$red: #d9534f;
$disabled: #BDBDBD;
$white: #ffffff;
$skyBlue: #0275d8;
$bgAccent: #eceeef;
$tagColor: #39739d;
$tagColorHover: #32658a;
$gold: #FFD700;
$silver: #C0C0C0;
$bronze: #cd7f32;
$none: #636c72;
$sunsetOrange: #FF595E;
$warning : #fcf8e3;
$icon: #606060;
$primary: #0275d8;

    
body {
    h2 {
        color: red;
    }
}

@import 'home/box.scss';
@import 'pages/home.scss';
