//Primary and theme colour
$color-primary: rgb(21, 21, 23); // # // Standard dark colour
$color-secondary: rgb(91, 15, 211); // #; // Purple
$color-brand-01: rgb(251, 164, 65); // # // Orange
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,500;1,600&display=swap');


// sass files
@import 'pages/about.scss';
@import 'pages/home.scss';
@import 'pages/contact.scss';
@import 'pages/normalize.scss';
@import 'pages/styles.scss';


.sec-bg {
    background-color: #1a1a1a;
}


.hero-imgbg {

    background-image: url('/htdocs/assets/images/heroimage.jpeg');
    height: 400px;
    margin-top: -100px;

}

.hero-ctn{
    margin-top: -170px;
}

.h1-fnt{
    font-size:4rem
}

.brand-secname{
    font-weight: 300; 
    color: #db545a !important; 
    letter-spacing: 2px;
}